// Media Size
$desktop-size-xs: 320px;
$desktop-size-xss: 374px;
$desktop-size-sm: 600px;
$desktop-size-md: 960px;
$desktop-size-lg: 1200px;
$desktop-size-llg: 1440px;

$font-family: "Manifont Grotesk", sans-serif;

$fz-title: 4rem;
$fz-link: 8rem;
$fz-descr: 2rem;

$primary: #0035F5;
$secondary: #BABABA;
$secondary-hover: #fff;
$base: #000000;
